/* line 1, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  background: #f1f4f7 !important;
  font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

/* line 9, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
#aboutus {
  padding-left: 15%;
  padding-right: 15%;
}

/* line 14, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
#createuser {
  padding-top: 15%;
  padding-left: 20%;
}

/* line 19, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
hr {
  max-width: 50px;
  border-color: #007EC7;
  border-width: 3px;
}
/* line 23, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
hr.light {
  border-color: #fff;
}

/* line 28, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
a {
  color: #007EC7;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
/* line 33, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
a:hover, a:focus {
  color: #eb3812;
}

/* line 38, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

/* line 42, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

/* line 48, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.bg-primary {
  background-color: #007EC7;
}

/* line 52, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.bg-dark {
  color: #fff;
  background-color: #222;
}

/* line 57, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

/* line 61, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
section {
  padding: 100px 0;
}

/* line 65, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
aside {
  padding: 50px 0;
}

/* line 69, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.no-padding {
  padding: 0;
}

/* line 73, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.navbar-default {
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
/* line 80, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.navbar-default .navbar-header .navbar-brand {
  text-transform: uppercase;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: 700;
  color: #007EC7;
}
/* line 85, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
/* line 90, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.navbar-default .nav > li > a {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #222;
}
/* line 95, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #222;
}
/* line 101, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover {
  color: #007EC7;
}
/* line 105, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.navbar-default .nav > li.active > a {
  color: #007EC7 !important;
  background-color: transparent;
}
/* line 108, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.navbar-default .nav > li.active > a:focus {
  color: #007EC7 !important;
  background-color: transparent;
}
/* line 112, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.navbar-default .nav > li.active > a:hover, .navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

@media (min-width: 768px) {
  /* line 120, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  .navbar-default {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
  }
  /* line 123, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 125, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
    color: #fff;
  }
  /* line 129, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  .navbar-default .nav > li > a {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 131, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 134, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover {
    color: #fff;
  }
  /* line 138, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  .navbar-default.affix {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: #fff;
  }
  /* line 141, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  .navbar-default.affix .navbar-header .navbar-brand {
    font-size: 14px;
    color: #f05f40;
  }
  /* line 144, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  .navbar-default.affix .navbar-header .navbar-brand:hover, .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }
  /* line 148, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  .navbar-default.affix .nav > li > a {
    color: #222;
  }
  /* line 150, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  .navbar-default.affix .nav > li > a:focus {
    color: #222;
  }
  /* line 153, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  .navbar-default.affix .nav > li > a:hover, .navbar-default.affix .nav > li > a:focus:hover {
    color: #f05f40;
  }
}
/* line 161, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header {
  position: relative;
  width: 100%;
  min-height: 300px;
  text-align: center;
  color: #fff;
  background-image: url(/images/img/kidinwheelchair.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
/* line 173, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px;
  text-align: center;
}
/* line 178, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 187, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
form {
  display: inline-block;
  text-align: left;
  padding-left: 25%;
}

/* line 193, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
/* line 195, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr header .header-content .header-content-inner p {
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 500;
  color: white;
  text-shadow: 2px 2px  #000000;
}
/* line 202, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .section-heading {
  margin-top: 0;
}
/* line 205, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .service-box {
  margin: 50px auto 0;
  max-width: 400px;
}
/* line 208, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .service-box p {
  margin-bottom: 0;
}
/* line 212, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .portfolio-box {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px;
}
/* line 217, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .portfolio-box .portfolio-box-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  background: rgba(240, 95, 64, 0.9);
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
/* line 230, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}
/* line 236, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, header .header-content .header-content-inner hr .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
/* line 240, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
/* line 245, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
/* line 250, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
/* line 254, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .call-to-action h2 {
  margin: 0 auto 20px;
}
/* line 257, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .text-primary {
  color: #f05f40;
}
/* line 260, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}
/* line 264, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-default {
  border-color: #fff;
  color: #222;
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
/* line 271, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-default:hover, header .header-content .header-content-inner hr .btn-default:focus, header .header-content .header-content-inner hr .btn-default.focus, header .header-content .header-content-inner hr .btn-default:active, header .header-content .header-content-inner hr .btn-default.active {
  border-color: #ededed;
  color: #222;
  background-color: #f2f2f2;
}
/* line 277, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .open > .dropdown-toggle.btn-default {
  border-color: #ededed;
  color: #222;
  background-color: #f2f2f2;
}
/* line 283, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-default:active, header .header-content .header-content-inner hr .btn-default.activ.open > .dropdown-toggle.btn-default {
  background-image: none;
}
/* line 286, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-default.disabled, header .header-content .header-content-inner hr .btn-default[disabled] {
  border-color: #fff;
  background-color: #fff;
}
/* line 291, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr fieldset[disabled] .btn-default {
  border-color: #fff;
  background-color: #fff;
}
/* line 296, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-default.disabled:hover, header .header-content .header-content-inner hr .btn-default[disabled]:hover {
  border-color: #fff;
  background-color: #fff;
}
/* line 301, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr fieldset[disabled] .btn-default:hover {
  border-color: #fff;
  background-color: #fff;
}
/* line 306, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-default.disabled:focus, header .header-content .header-content-inner hr .btn-default[disabled]:focus {
  border-color: #fff;
  background-color: #fff;
}
/* line 311, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr fieldset[disabled] .btn-default:focus {
  border-color: #fff;
  background-color: #fff;
}
/* line 316, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-default.disabled.focus, header .header-content .header-content-inner hr .btn-default[disabled].focus {
  border-color: #fff;
  background-color: #fff;
}
/* line 321, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr fieldset[disabled] .btn-default.focus {
  border-color: #fff;
  background-color: #fff;
}
/* line 326, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-default.disabled:active, header .header-content .header-content-inner hr .btn-default[disabled]:active {
  border-color: #fff;
  background-color: #fff;
}
/* line 331, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr fieldset[disabled] .btn-default:active {
  border-color: #fff;
  background-color: #fff;
}
/* line 336, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-default.disabled.active, header .header-content .header-content-inner hr .btn-default[disabled].active {
  border-color: #fff;
  background-color: #fff;
}
/* line 341, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr fieldset[disabled] .btn-default.active {
  border-color: #fff;
  background-color: #fff;
}
/* line 345, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-default .badge {
  color: #fff;
  background-color: #222;
}
/* line 349, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-primary {
  border-color: #007EC7;
  color: #fff;
  background-color: #007EC7;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
/* line 356, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-primary:hover, header .header-content .header-content-inner hr .btn-primary:focus, header .header-content .header-content-inner hr .btn-primary.focus, header .header-content .header-content-inner hr .btn-primary:active, header .header-content .header-content-inner hr .btn-primary.active {
  border-color: #43C7ED;
  color: #fff;
  background-color: #ed431f;
}
/* line 362, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .open > .dropdown-toggle.btn-primary {
  border-color: #43C7ED;
  color: #fff;
  background-color: #ed431f;
}
/* line 368, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-primary:active, header .header-content .header-content-inner hr .btn-primary.active {
  background-image: none;
}
/* line 372, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .open > .dropdown-toggle.btn-primary {
  background-image: none;
}
/* line 376, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-primary.disabled, header .header-content .header-content-inner hr .btn-primary[disabled] {
  border-color: #f05f40;
  background-color: #f05f40;
}
/* line 381, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr fieldset[disabled] .btn-primary {
  border-color: #f05f40;
  background-color: #f05f40;
}
/* line 386, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-primary.disabled:hover, header .header-content .header-content-inner hr .btn-primary[disabled]:hover {
  border-color: #f05f40;
  background-color: #f05f40;
}
/* line 391, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr fieldset[disabled] .btn-primary:hover {
  border-color: #f05f40;
  background-color: #f05f40;
}
/* line 396, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-primary.disabled:focus, header .header-content .header-content-inner hr .btn-primary[disabled]:focus {
  border-color: #f05f40;
  background-color: #f05f40;
}
/* line 401, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr fieldset[disabled] .btn-primary:focus {
  border-color: #f05f40;
  background-color: #f05f40;
}
/* line 406, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-primary.disabled.focus, header .header-content .header-content-inner hr .btn-primary[disabled].focus {
  border-color: #f05f40;
  background-color: #f05f40;
}
/* line 411, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr fieldset[disabled] .btn-primary.focus {
  border-color: #f05f40;
  background-color: #f05f40;
}
/* line 416, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-primary.disabled:active, header .header-content .header-content-inner hr .btn-primary[disabled]:active {
  border-color: #f05f40;
  background-color: #f05f40;
}
/* line 421, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr fieldset[disabled] .btn-primary:active {
  border-color: #f05f40;
  background-color: #f05f40;
}
/* line 426, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-primary.disabled.active, header .header-content .header-content-inner hr .btn-primary[disabled].active {
  border-color: #f05f40;
  background-color: #f05f40;
}
/* line 431, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr fieldset[disabled] .btn-primary.active {
  border-color: #f05f40;
  background-color: #f05f40;
}
/* line 435, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-primary .badge {
  color: #f05f40;
  background-color: #fff;
}
/* line 439, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn {
  border: 0;
  border-radius: 300px;
  text-transform: uppercase;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: 700;
}
/* line 446, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr .btn-xl {
  padding: 15px 30px;
}
/* line 449, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr ::-moz-selection, header .header-content .header-content-inner hr ::selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}
/* line 455, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr img::selection, header .header-content .header-content-inner hr img::-moz-selection {
  color: #fff;
  background: 0 0;
}
/* line 460, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr body {
  webkit-tap-highlight-color: #222;
}
/* line 463, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr article {
  background-image: url(../img/header.jpg);
}
/* line 466, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
header .header-content .header-content-inner hr footer {
  text-align: center;
  padding: 10px;
  margins: 1px;
  padding-bottom: 2%;
}

@media (min-width: 768px) {
  /* line 475, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  header .header-content .header-content-inner hr header {
    min-height: 100%;
  }
  /* line 477, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  header .header-content .header-content-inner hr header .header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  /* line 484, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  header .header-content .header-content-inner hr header .header-content .header-content-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
  }
  /* line 488, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  header .header-content .header-content-inner hr header .header-content .header-content-inner p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  /* line 500, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  header .header-content .header-content-inner hr .service-box {
    margin: 20px auto 0;
  }
}
@media (min-width: 768px) {
  /* line 507, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  header .header-content .header-content-inner hr .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  /* line 510, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
  header .header-content .header-content-inner hr .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
/* line 516, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.white_color {
  color: #fff !important;
}

/* line 520, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.panel .panel-default form, #new_customer {
  display: block !important;
  padding-left: 0px !important;
}

/* line 525, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.header-content .btn-primary {
  color: #fff !important;
}
/* line 527, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.header-content .btn-primary:hover {
  color: #000 !important;
}

/* line 532, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
#mainNav {
  background-color: transparent;
  border-bottom: 1px solid #999 !important;
}

/* line 537, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.navbar-default {
  background-color: transparent;
  border-bottom: 1px solid #999 !important;
}
/* line 540, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.navbar-default .navbar-nav > li > a {
  /*color: #ddd;*/
}

/* line 545, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.dashbord .main {
  display: inline block;
  margin: 0 auto;
}

/* line 550, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.line {
  background: #286090 !important;
  height: 2px;
  border: none !important;
}

/*.navbar-fixed-top1 {
  background: rgba(255, 255, 255, 0.95);
  position: fixed !important;
  border-bottom: 1px solid #eee;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  height: 72px;
}*/
/* line 565, /home/techverx/projects/Able_App/app/assets/stylesheets/custom.scss */
.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left !important;
  display: block;
}
