<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a class="page-scroll" href="index.html">Back</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="customerlogin2.html">Next</a>
                    </li>

                                    </ul>
</div>
<div class="container">
<div class="row">
<form>

<section id="customerlogin">
<h1><center>New Ride Request</center></h1><br>
    Is this transportation for yourself or for a client/loved one?<br>
    <select name="client type">
    <option value="myself">Myself</option>
    <option value="client">Client/Loved One</option>
    </select><br><br><br>


    Check if you need wheelchair accessible transportation?<br>
    <input type=checkboxes>
    <option value="wheelchair">Wheelchair  Accessible</option>
    </input><br><br>

    Do you/your loved on need assitance needed into the vehicle? <br>
    <input type="radio" name="transport" value="None"> No Special Assistance Needed<br>
    <input type="radio" name="transport" value="Arm to Arm"> Escorted to Car<br><br>
    <br>

    What type of assistance is necessary?(Please Explain)<br>
    <textarea rows="5" cols="70"></textarea><br><br>

    What date and time is your pickup?<br>

  <form action="action_page.php">
  <input type="date" name="bday">

  </form><br>

  <form action="action_page.php">
  Select a time:
  <input type="time" name="time">

  </form><br>

Do you need a return ride?
<select>
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>

What time should we arrive for your return ride?

<input type="time" name="time" /><br>


Do you need to schedule this appointment for another day and/or time?
<select>
<option value="Yes">Yes</option>
<option value="No">No</option>
</select><br>

<div class="header-content" style="text-align:center;">
            <div class="header-content-inner">

                <a href="customerlogin2.html" class="btn btn-primary btn-md page-scroll">Submit/Next</a>
            </div>
        </div>
</section>
</form>
</div>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a class="page-scroll" href="customerlogin.html">Back</a>
                </li>
                <li>
                    <a class="page-scroll" href="index.html">Home</a>
                </li>
                                </ul>
                                </div>
<div class="container">
<div class="row">
<form>

<h1><center>Ride Request Page 2</center></h1>
<br><br>

Any special instructions on how to access properties? e.i. Call desk? Special Instructions<br>

<textarea rows="5" cols="70"></textarea><br><br>
Destination Information:<br>
<input type="radio" name="destination" value="Leisure" >Leisure<br>
<input type="radio" name="destination" value="errand"> Errand<br>
<input type="radio" name="destination" value="Medical Appointment"> Medical Appointment
<br><br><br>


Is there anything we should know about this client that will help us give great service?<br><br>
<textarea rows="5" cols="70"></textarea><br><br>


<div class="header-content" style="text-align:center;">
        <div class="header-content-inner">

            <a href="tripcalculation.html" class="btn btn-primary btn-md page-scroll">Calculate Trip</a>
        </div>
    </div>


</section></form><br><br>
</div>
</div>
